* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background: rgb(234, 160, 255);
  background: linear-gradient(
    52deg,
    rgba(234, 160, 255, 1) 32%,
    rgba(125, 113, 254, 1) 82%
  );
}

.container {
  background-color: white;
  box-shadow: 2px 2px 26px 0px rgba(77, 77, 77, 0.486);
  border-radius: 20px;
  justify-self: center;
  width: 40vw;
  height: 70vh;
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 6%;
  margin-bottom: 9%;
}

.main-content {
  text-align: center;
}

#Title {
  margin-top: 2rem;
  color: #2b1bed;
}

#subTitle {
  color: #d9d9d9;
  letter-spacing: 0.2em;
  margin-top: 1em;
}

.form-container {
  margin-top: 2rem;
  margin-left: 4rem;
}

.label {
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: -0.6rem;
}

.input-field {
  width: 500px;
  height: 30px;
  border: 1px solid #777;
  border-radius: 5px;
  margin-bottom: 2px;
  outline: none;
}

.input-field:focus {
  border: 3px solid #7a71f4;
}

.input-field,
.input-field::-webkit-input-placeholder {
  font-size: 1rem;
}

.btn_submit {
  margin-top: 35px;
  margin-left: 45px;
  border-radius: 8px;
  width: 10rem;
  height: 30px;
  background-color: #2b1bed;
  color: white;
  border: none;
}

.btn_cancel {
  margin-top: 35px;
  margin-left: 45px;
  border-radius: 8px;
  width: 10rem;
  height: 30px;
  background-color: #ed1b41;
  color: white;
  border: none;
}
